#root {
  max-width: 2048px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 15px;
  text-align: center;
  background-color: aliceblue;
  color: rgb(39, 95, 95);
  font-family: "Consolas", serif;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  font-size: 30pt;
}